.pageWrapper {
  display: flex;
  justify-content: center;

  background-image: url(../../assets//page-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  .container {
    width: 1024px;
  }
}
